/* App.css หรือ index.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  background-color: orange;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bt{
  background-color: blueviolet;
  border: none;
  width: 80px;
  height: 40px;
  box-shadow: 2px 2px 2px gray
}
.bt:hover{
  background-color: green;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
